
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.image-box {
    width: 300px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}


.image-box:hover {
    box-shadow: 0 2vw 4vw rgb(48, 19, 19);
}
