/* Q: A page which specify a black border for table and if hover on it, page should change it's colour. */


table {
    width: 90%;
    border-collapse: collapse; 
    margin: 20px auto;
    border: 4px solid black; 
    transition: background-color 0.3s ease; 
}


th, td {
    border: 2px solid black; 
    padding: 10px;
    text-align: left;
}


table:hover {
    background-color: rgb(0, 51, 69); 
    color: white;
}


th {
    background-color: #9feb48; 
}